@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-size: cover;
}

body{
	font-family: 'orbitron', sans-serif;
	background: linear-gradient(to top, rgba(0,0,0,0.3)50%, rgba(0,0,0,0.3)50%), url(ROG.jpg);
	background-size: cover;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.badan{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 170px;
}

/*bagian date*/
.container{
	position: relative;
	right: 320px;
}

.time_wrapper{
	position: relative;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

#time{
	position: relative;
	color: #00d5ff;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
	letter-spacing: 5px;
	font-size: 6rem;
	text-align: right;
	left: 50px;
}

#sec{
	position: absolute;
	bottom: 20px;
	font-size: 2rem;
	font-weight: bolder;
	right: -73px;
	/*color: #62ff00;*/
	color: white;
}

#mid{
	font-weight: bolder;
	color: #ff00d2;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 15px;
	right: -75px;
	font-size: 2.5rem;
}

.day_wrapper{
	font-weight:  bolder;
	letter-spacing: 1em;
	position: relative;
	left: 74px;
	top: -15px;
	justify-content: space-between;
}

.day_wrapper span:nth-child(1){
	color: red;
	font-weight:  bolder;
}

.day_wrapper span{
	font-weight:  bolder;
	color: #fff;
	font-size: 1rem;
	opacity: 0.3;	
	letter-spacing: 1px;
}

#showDate{
	color: #fbff00;
	font-weight: bolder;
	position: relative;
	left: 130px;
	top: -15px;
	font-size: 1.75rem;
	letter-spacing: 0.1em;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

/*batas*/
.box{
	position: relative;
	width: 5px;
	height: 220px;
	border-radius: 3px;
	background: rgb(255, 255, 255);
	/*border: 1px solid #00d5ff;*/
	right: 210px;
	top: 5px;
}

/*nama*/
.weather-app .container h3{
	position: absolute;
	font-family: 'orbitron', sans-serif;	
	font-size: 3em;
	left: 140px;
	top: -100px;
	color: #00d5ff;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

/*batas bagian monitoring*/
.menu{
	position: relative;
	right: -247px;
	margin-top: -320px;
	border-radius: 7px;
	/*box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 35%);*/
	/*border: 1px solid rgba(255, 255, 255, 0.3);*/
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 1fr);
}

.menu > div{
	margin: 0.3em;
	width: 100px;
	height: 90px;
}

.menu > div a{
	backdrop-filter: blur(4px);
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	border: 1px solid rgb(255, 0, 235);
	transition: 0.4s;
}

.menu > div:hover a{
	background: rgb(255, 0, 235);
	transform: scale(1.1);
	transition: 0.4s;
	box-shadow: 0 8px 32px 0 rgba(255, 0, 235, 0.35);
	border: none;
}

.menu .material-icons{
	color: whitesmoke;
	font-size: 2.2em;
}

.menu a{
	font-family: 'orbitron', sans-serif;
	text-decoration: none;
	color: whitesmoke;
	border-radius: 7px;
}

.menu h3{
	margin: 0.4em 0 0 0;
	font-size: 0.8em;
	font-weight: bolder;
}

.menu p{
	margin: 0.5em 0 0 0;
	font-size: 0.9em;
}

.menu span{
	font-size: 3em;
}
